/* General styles */
* {
	box-sizing: border-box;
}
body {
	font-family: 'Poiret One', sans-serif;
	background-color: #a4ddce;
	color: #9b9b9b;
}
h1 {
	font-family: 'Sacramento', cursive;
	color: #a4ddce;
	text-align: center;
}
.container {
	background-color: #fff;
	width: 80%;
	margin: 25px auto;
	padding: 30px;
	border-radius: 10px;
}

/* Form styles */
.form {
	width: 50%;
	margin: 50px auto;
}
form input {
	width: 300px;
	height: 40px;
	border-radius: 10px;
	border: 2px solid #a4ddce;
	font-size: 1.2em;
	font-family: 'Poiret One', sans-serif;
	color: #9b9b9b;
}
form button {
	margin-left: auto;
	height: 40px;
	width: 120px;
	color: #a4ddce;
	border: 2px solid #a4ddce;
	border-radius: 10px;
	background-color: #fff;
	font-family: 'Poiret One', sans-serif;
	font-size: 1.1em;
}
form button:hover {
	background-color: #a4ddce;
	color: #fff;
}
p#warning {
	padding-left: 10px;
}

/* List styles */
.list {
	width: 40%;
	margin: 50px auto;
}
.list ul {
	list-style: none;
	padding: 0;
	font-size: 1.2em;
}
.list li, form {
	display: flex;
	align-items: center;
}
span.delete {
	margin-left: auto;
	color: #a4ddce;
	font-size: 1.5em;
}


/* JS classes */
.delete {
	cursor: pointer;
}
.strike {
	text-decoration: line-through;
}
.hide {
	display: none;
}